.building {
  max-height: 12vh;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.building.disabled{
  background-color: transparent;
}

.building:hover {
  background-color: #666;
}

.building:active {
  transform: translateY(4px);
}

.buildingImage {
  max-width: 10vh;
  max-height: 10vh;
}

.priceIcon {
  max-width: 20px;
}

.buildingQuantity {
  opacity: 0.9;
}