/* Sun effect based on https://css-irl.info/heatwave-animated-sun-illustration/ */
.cookieContainer {
  display: flex;
  justify-content: center;
  min-height: 50%;
  position: relative;
  background: radial-gradient(transparent 50%, white), radial-gradient(rgb(255, 250, 200), transparent 70%);
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 1.0) 40%, transparent 65%);
  mask-image: radial-gradient(rgba(0, 0, 0, 1.0) 40%, transparent 65%);
  border-radius: 50%;
  overflow: hidden;
}

.cookieContainer::after, .cookieContainer::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  border-radius: 50%;
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 1.0) 40%, transparent 65%);
  mask-image: radial-gradient(rgba(0, 0, 0, 1.0) 40%, transparent 65%);
}

.cookieContainer::before {
  background: repeating-conic-gradient(from 0deg, rgb(255, 250, 200) 0deg 20deg, transparent 20deg 40deg);
  animation: rotate 720s linear, scale 3s linear infinite;
}

.cookieContainer::after {
  background: radial-gradient(transparent, rgb(255, 250, 200), transparent), radial-gradient(rgb(255, 250, 200), transparent 20%), repeating-conic-gradient(from 0deg, rgb(255, 250, 200) 0deg 5deg, transparent 5deg 10deg);
  transform: rotate(15deg);
  animation: rotate 180s linear;
}

.cookieImage {
  max-width: 40%;
  display: block;
  margin: auto;
  z-index: 100;
  cursor: pointer;
}


.cookieImage:hover{
  transform: translateY(2px);
}

.cookieImage:active{
  transform: translateY(6px);
}

.milkWave {
  height: 35%;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}