body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  background-image: url('./assets/images/background/background-img.jpg');
  font-family: 'Merriweather Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}